# 0.Import
import python and file

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
#%matplotlib inline

In [0]:
header = ["ID","visited_page_url","search_words","use_ip","visited_time","visited_total",
          "language_id","result_numbers","created_person","updated_person","created_at","updated_at"]
df = pd.read_excel (r'/content/drive/My Drive/fs/search.xlsx', names=header)

In [97]:
df.shape

(234184, 12)

#1.EDA

##1.1 check null

In [98]:
df.isnull().sum()

ID                    0
visited_page_url      0
search_words         12
use_ip                0
visited_time          0
visited_total         0
language_id           0
result_numbers        0
created_person        0
updated_person        0
created_at            0
updated_at          387
dtype: int64

In [99]:
df[df['search_words'].isnull()]

             ID  ...          updated_at
110710  4258628  ... 2020-05-12 23:34:45
111902  4259820  ... 2020-05-13 02:49:22
141288  4289206  ... 2020-05-20 00:22:45
153266  4301184  ... 2020-05-22 07:15:53
158043  4305961  ... 2020-05-24 22:23:10
164578  4312496  ... 2020-05-26 05:45:36
176247  4324165  ... 2020-05-28 06:54:08
208693  4356611  ... 2020-06-05 03:48:19
212464  4360382  ... 2020-06-06 18:44:17
212465  4360383  ... 2020-06-06 18:44:59
228382  4376300  ... 2020-06-10 04:23:09
232758  4380676  ... 2020-06-11 00:46:00

[12 rows x 12 columns]

no use to our analysis, will drop

In [0]:
df.dropna(subset=['search_words'], inplace=True)

In [101]:
df.isnull().sum()

ID                    0
visited_page_url      0
search_words          0
use_ip                0
visited_time          0
visited_total         0
language_id           0
result_numbers        0
created_person        0
updated_person        0
created_at            0
updated_at          387
dtype: int64

##1.2 check duplicate

In [102]:
df[df['ID'].duplicated()]

Empty DataFrame
Columns: [ID, visited_page_url, search_words, use_ip, visited_time, visited_total, language_id, result_numbers, created_person, updated_person, created_at, updated_at]
Index: []

##1.3 Feature analysis

###1.3.1 Search words

In [103]:
df['search_words'].nunique()

80103

In [104]:
print('Top 10 searched keywords')
tempdf = df['search_words'].value_counts().nlargest(10)#.sum()
print(tempdf)
print('\ntotal = {} out of {}'.format(df['search_words'].value_counts().nlargest(10).sum(),df.shape[0]))

Top 10 searched keywords
11552              1187
sfp                 600
11555               594
11774               498
splitter            448
SFP-10GSR-85        411
66613               404
11773               403
media converter     394
11775               376
Name: search_words, dtype: int64

total = 5315 out of 234172

assuming data is extracted from 14 APR to 12 JUN

In [105]:
vc = df['search_words'].value_counts()
List=vc[vc <= 1].index.tolist()
mapping={}
for s in List:
    mapping[s]='other'
df['search_words2']=df['search_words'].map(lambda x: mapping[x] if x in mapping else x)
df['search_words2'].nunique()

19311

In [0]:
List=vc[vc <= 1].index.tolist()

In [107]:
print('Number of search\n')
vc = df['search_words'].value_counts()
b=0
for i in range(20):          
        a = len(vc[vc == i+1].index.tolist())
        print('{} record search {} times'.format(a, i+1))
        b=b+a
print('total record search less than 20 times = {}'.format(b))

Number of search

60793 record search 1 times
7687 record search 2 times
2923 record search 3 times
1766 record search 4 times
1127 record search 5 times
834 record search 6 times
544 record search 7 times
470 record search 8 times
342 record search 9 times
310 record search 10 times
260 record search 11 times
262 record search 12 times
211 record search 13 times
194 record search 14 times
170 record search 15 times
145 record search 16 times
123 record search 17 times
122 record search 18 times
118 record search 19 times
90 record search 20 times
total record search less than 20 times = 78491

In [108]:
df.head()

        ID  ... search_words2
0  4147918  ...         other
1  4147919  ...         30909
2  4147920  ...         other
3  4147921  ...         12369
4  4147922  ...         30908

[5 rows x 13 columns]

####1.3.1.1 Search words to Product ID

In [109]:
def checkPID(a):
  i = str(a)
  if ((i.isdigit()) and (len(i)==5)):
    return 1
  else:
    return 0
#df['search_words'].astype(str)
df['isProductID'] = df['search_words'].apply(checkPID)
df.sample(3)

             ID  ... isProductID
55451   4203369  ...           0
137450  4285368  ...           0
137335  4285253  ...           1

[3 rows x 14 columns]

In [110]:
print('instance of customer search by actual product ID = {}'.format(df['isProductID'].sum()))

instance of customer search by actual product ID = 80508

In [0]:
df2 = df[df['isProductID'] != 1]

In [112]:
df2.sample(5)

             ID  ... isProductID
39883   4187801  ...           0
85880   4233798  ...           0
60506   4208424  ...           0
114465  4262383  ...           0
87622   4235540  ...           0

[5 rows x 14 columns]

In [113]:
print('Top 10 searched keywords[took out product ID search]')
tempdf = df2['search_words'].value_counts().nlargest(50)#.sum()
print(tempdf)
print('\ntotal = {} out of {}'.format(df2['search_words'].value_counts().nlargest(10).sum(),df2.shape[0]))

Top 10 searched keywords[took out product ID search]
sfp                600
splitter           448
SFP-10GSR-85       411
media converter    394
keystone           375
patch panel        341
attenuator         297
SFP-10G-SR         295
SFP-10GLR-31       293
SFP                262
SFP-10G-LR         261
SFP1G-LX-31        259
SFP-GB-GE-T        248
qsfp               226
SFP1G-SX-85        215
dac                206
GLC-LH-SMD         197
100957             192
coupler            189
gpon               184
pigtail            182
J9150D             176
S3900-24T4S        174
mpo                172
S5850-48S6Q        171
S3900-48T4S        170
fhd                165
rj45               163
dwdm               163
ubiquiti           162
SFP-10G-T          162
S3900              162
pdu                162
mikrotik           160
cwdm               156
loopback           156
S5800-8TF12S       156
N5850-48S6Q        156
cat6               154
breakout           153
breakout cable     146
adapter            145
GLC-SX-MMD         143
S5500-48T8SP       142
10G SFP            140
S5850-48T4Q        140
100969             139
fs box             138
poe                137
FHD                135
Name: search_words, dtype: int64

total = 3716 out of 153664

###1.3.2 Country based on url

In [0]:
pd.options.display.max_colwidth = 200

In [115]:
df['visited_page_url'].tail(20)

234164                                                                     https://www.fs.com/ru/?main_page=advanced_search_result&keyword=72420&searchSubmit=%EF%85%83
234165                                                                    https://www.fs.com/de/?main_page=advanced_search_result&keyword=105883&searchSubmit=%EF%85%83
234166                                                                        https://www.fs.com/?main_page=advanced_search_result&keyword=74481&searchSubmit=%EF%85%83
234167                                                                     https://www.fs.com/ru/?main_page=advanced_search_result&keyword=72448&searchSubmit=%EF%85%83
234168                                                                     https://www.fs.com/ru/?main_page=advanced_search_result&keyword=26389&searchSubmit=%EF%85%83
234169                                                       https://www.fs.com/au/?main_page=advanced_search_result&keyword=FIBER+CLEAVING+TOOL&searchSubmit=%EF%85%83
234170                                                                   https://www.fs.com/au/?main_page=advanced_search_result&keyword=cleaver&searchSubmit=%EF%85%83
234171                                                                    https://www.fs.com/de-en/?main_page=advanced_search_result&keyword=aoc&searchSubmit=%EF%85%83
234172                                                             https://www.fs.com/?main_page=advanced_search_result&keyword=E100G-QSFP28-SR4&searchSubmit=%EF%85%83
234173    https://jeremy.whgxwl.com:6060/?main_page=advanced_search_result&keyword=http%3A%2F%2Fjeremy.whgxwl.com%3A6060%2Fproducts%2F48812.html&searchSubmit=%EF%85%83
234174                                                            https://jeremy.whgxwl.com:6060/?main_page=advanced_search_result&keyword=11552&searchSubmit=%EF%85%83
234175                                                            https://jeremy.whgxwl.com:6060/?main_page=advanced_search_result&keyword=64620&searchSubmit=%EF%85%83
234176                                                         https://jeremy.whgxwl.com:6060/de/?main_page=advanced_search_result&keyword=48355&searchSubmit=%EF%85%83
234177                                                         https://jeremy.whgxwl.com:6060/de/?main_page=advanced_search_result&keyword=11552&searchSubmit=%EF%85%83
234178                                                            https://jeremy.whgxwl.com:6060/?main_page=advanced_search_result&keyword=11552&searchSubmit=%EF%85%83
234179                                                      https://jeremy.whgxwl.com:6060/de-en/?main_page=advanced_search_result&keyword=11555&searchSubmit=%EF%85%83
234180                                                         https://jeremy.whgxwl.com:6060/fr/?main_page=advanced_search_result&keyword=48354&searchSubmit=%EF%85%83
234181                                                      https://jeremy.whgxwl.com:6060/de-en/?main_page=advanced_search_result&keyword=11552&searchSubmit=%EF%85%83
234182                                                      https://jeremy.whgxwl.com:6060/de-en/?main_page=advanced_search_result&keyword=64186&searchSubmit=%EF%85%83
234183                                              https://jeremy.whgxwl.com:6060/?main_page=advanced_search_result&keyword=Glass+Optical+Fiber&searchSubmit=%EF%85%83
Name: visited_page_url, dtype: object

filter based on jeremy website. jeremy website belongs to UAT site, should not appear here, hence drop

In [116]:
df[df['visited_page_url'].str.contains("jeremy")].count()

ID                  11
visited_page_url    11
search_words        11
use_ip              11
visited_time        11
visited_total       11
language_id         11
result_numbers      11
created_person      11
updated_person      11
created_at          11
updated_at          11
search_words2       11
isProductID         11
dtype: int64

In [0]:
df.drop(df[df['visited_page_url'].str.contains("jeremy")].index, inplace=True)

In [118]:
df[df['visited_page_url'].str.contains("jeremy")].count()

ID                  0
visited_page_url    0
search_words        0
use_ip              0
visited_time        0
visited_total       0
language_id         0
result_numbers      0
created_person      0
updated_person      0
created_at          0
updated_at          0
search_words2       0
isProductID         0
dtype: int64

In [119]:
df[['homepage','theRest1']] = df['visited_page_url'].str.split(r'com/', n = 1, expand = True) 
df[['theRest1','theRest2']] = df['theRest1'].str.split(r'/?', n = 1, expand = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1494: FutureWarning: split() requires a non-empty pattern match.
  f = lambda x: regex.split(x, maxsplit=n)

In [120]:
df['Country'] = df['theRest1'].map(lambda x: x if (len(x) < 6) and (len(x) > 1) else 'unidentified')
df['Country'].value_counts()

unidentified    149457
de-en            18629
de               18213
au               10874
uk                9454
fr                8211
es                4747
sg                4336
ru                4284
mx                3472
jp                2459
it                  25
Name: Country, dtype: int64

In [0]:
#df['Country_isspace'] = map(lambda x: x.isspace(), df['Country'])

In [145]:
df[df['Country'].str.contains("unidentified")].sample(3)

             ID  ...       Country
69484   4217402  ...  unidentified
13662   4161580  ...  unidentified
204986  4352904  ...  unidentified

[3 rows x 18 columns]

###1.3.3 search result based on url

In [0]:
from bs4 import BeautifulSoup, SoupStrainer
import requests

def getData(i):
  url=i

  # Make a GET request to fetch the raw HTML content
  html_content = requests.get(url).text
  #strainer = SoupStrainer('form', attrs={'id': 'form1'})
  # Parse the html content
  soup = BeautifulSoup(html_content, "lxml")
  #mydivs = soup.select('div[class="new_proList_proListTIB"] > span')\
  try:
    mydivs = soup.find('h1', {'class': 'new_proList_proListTit'}).contents[2].strip()
  except:
    #mydivs = soup.find('p', {'class': 'search_404_Sorry'}).text
    mydivs = 0
    #pass
  return mydivs

In [0]:
tempdf = pd.DataFrame({'url':  ['https://www.fs.com/?main_page=advanced_search_result&keyword=40%EF%BC%A7+850nm&searchSubmit=Search', 
                               'https://www.fs.com/?main_page=advanced_search_result&keyword=CMH-SFD2U&searchSubmit=%EF%85%83',
                               'https://www.fs.com/?main_page=advanced_search_result&keyword=SFP-H10GB-CU+&searchSubmit=%EF%85%83'
                               ]})

In [0]:
tempdf['searchResultQTY'] = tempdf['url'].apply(getData)

In [199]:
tempdf[['searchResultQTY','url']]

  searchResultQTY                                                                                                 url
0               0  https://www.fs.com/?main_page=advanced_search_result&keyword=40%EF%BC%A7+850nm&searchSubmit=Search
1               1       https://www.fs.com/?main_page=advanced_search_result&keyword=CMH-SFD2U&searchSubmit=%EF%85%83
2              19   https://www.fs.com/?main_page=advanced_search_result&keyword=SFP-H10GB-CU+&searchSubmit=%EF%85%83

In [0]:
List1 = df['visited_page_url'].apply(getData).tolist()
#df[['searchResultQTY','url']].sample(5)